.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20vw;
  margin-top: 300px;
  margin-bottom: 300px;
}

.body{
  font-size: 5vw;
  padding: 0 1rem;
}

.lineMask{
  overflow: hidden;
}

.lineMask p{
  margin: 0px;
  font-weight: 700;
  color:white;
}

@media (max-width: 768px) {
  .container {
    gap: 10vw;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .body{
    font-size: 6vw;
    padding: 0 1.5rem;
  }
  
  .lineMask {
    margin-bottom: 2rem;
  }
  
  .lineMask p {
    line-height: 1.4;
  }
}
